<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
  <style>
    * {
            margin: 0;
            padding: 0;
            font-family: 'Do Hyeon', sans-serif;
        }
    body {
      min-height: 100vh;

      background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
      background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
      background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
      background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
      background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
    }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
    form label em{
      color: red;
    }
  </style>
  <script>
    function showPopup(){
      window.open("information", "개인정보처리방침", "width=700, height=700, left=100, top=50")
    }
  </script>
</head>

<body>
  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <h4 class="mb-3">회원정보변경</h4>
        <form action="" method="POST" class="validation-form" novalidate>{% csrf_token %}
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name">아이디<em>*</em></label>
              <input type="text" class="form-control" id="id" name="username" placeholder="" value="{{user.user_name}}" readonly>
              <div class="invalid-feedback">
                아이디를 입력해주세요.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="password">패스워드<em>*</em></label>
              <input type="password" class="form-control" id="password1" name="password1" placeholder="" value="" required>
              <div class="invalid-feedback">
                패스워드를 입력해주세요.
              </div>
            </div>
          <div class="col-md-6 mb-3">
              <label for="password">패스워드 확인<em>*</em></label>
              <input type="password" class="form-control" id="password2" name="password2" placeholder="" value="" required>
              <div class="invalid-feedback">
                패스워드를 입력해주세요.
              </div>
            </div> 
          </div>
          <div style="color: red;">
              {{error}}
            </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="height">나이(숫자만 입력)<em>*</em></label>
              <input type="number" class="form-control" id="height" name="userAge" placeholder="" value="{{user.userAge}}" required>
              <div class="invalid-feedback">
                나이를 입력해주세요.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="height">키(cm, 숫자만 입력)<em>*</em></label>
              <input type="number" class="form-control" id="height" name="userHeight" placeholder="" value="{{user.userHeight}}" required>
              <div class="invalid-feedback">
                키를 입력해주세요.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="weight">몸무게(kg, 숫자만 입력)<em>*</em></label>
              <input type="number" class="form-control" id="weight" name="userWeight" placeholder="" value="{{user.userWeight}}" required>
              <div class="invalid-feedback">
                몸무게를 입력해주세요.
              </div>
            </div>
          </div>

          <!-- <div class="mb-3">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" placeholder="bpminus@example.com" required>
            <div class="invalid-feedback">
              주소를 정확하게 입력해주세요(@포함).
            </div>
          </div> -->
          <p style= "color: grey; text-align: center;">※ 다음은 건강 상태에 대한 항목입니다.<br>해당 정보는 사용자의 건강 관리를 위한 서비스에만 활용됩니다.</p>
          <div class="d_1">
            <label for="d_1">당뇨병<em>*</em>&nbsp;&nbsp;&nbsp;</label>
            <div class="form-check form-check-inline">
              {% if user.userDia == '1' %}
              <input class="form-check-input" type="radio" name="dia" id="inlineRadio1" value="1" checked="checked" required>
              {% else %}
              <input class="form-check-input" type="radio" name="dia" id="inlineRadio1" value="1" required>
              {% endif %}
              <label class="form-check-label" for="inlineRadio1">1형</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userDia == '2' %}
              <input class="form-check-input" type="radio" name="dia" id="inlineRadio2" value="2" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="dia" id="inlineRadio2" value="2">
              {% endif %}
              <label class="form-check-label" for="inlineRadio2">2형</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userDia == 'X' %}
              <input class="form-check-input" type="radio" name="dia" id="inlineRadio3" value="X" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="dia" id="inlineRadio3" value="X">
              {% endif %}
              <label class="form-check-label" for="inlineRadio3">없음/모름</label>
          </div>

          <div class="d_2">
            <label for="d_2">고혈압<em>*</em>&nbsp;&nbsp;&nbsp;</label>
            <div class="form-check form-check-inline">
              {% if user.userHyper == '1' %}
              <input class="form-check-input" type="radio" name="hyper" id="inlineRadio4" value="1" checked="checked" required>
              {% else %}
              <input class="form-check-input" type="radio" name="hyper" id="inlineRadio4" value="1" required>
              {% endif %}
              <label class="form-check-label" for="inlineRadio4">1기</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userHyper == '2' %}
              <input class="form-check-input" type="radio" name="hyper" id="inlineRadio5" value="2" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="hyper" id="inlineRadio5" value="2">
              {% endif %}
              <label class="form-check-label" for="inlineRadio5">2기</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userHyper == 'X' %}
              <input class="form-check-input" type="radio" name="hyper" id="inlineRadio6" value="X" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="hyper" id="inlineRadio6" value="X">
              {% endif %}
              <label class="form-check-label" for="inlineRadio6">없음/모름</label>
          </div>
          
          <div class="d_3">
            <label for="d_3">이상지질혈증<em>*</em>&nbsp;&nbsp;&nbsp;</label>
            <div class="form-check form-check-inline">
              {% if user.userDysl == '1' %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio7" value="1" checked="checked" required>
              {% else %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio7" value="1" required>
              {% endif %}
              <label class="form-check-label" for="inlineRadio7">1형</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userDysl == '2a' %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio8" value="2a" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio8" value="2a">
              {% endif %}
              <label class="form-check-label" for="inlineRadio8">2a형</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userDysl == '2b' %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio9" value="2b" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio9" value="2b">
              {% endif %}
              <label class="form-check-label" for="inlineRadio9">2b형</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userDysl == '3' %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio10" value="3" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio10" value="3">
              {% endif %}
              <label class="form-check-label" for="inlineRadio10">3형</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userDysl == '4' %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio11" value="4" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio11" value="4">
              {% endif %}
              <label class="form-check-label" for="inlineRadio11">4형</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userDysl == '5' %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio12" value="5" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio12" value="5">
              {% endif %}
              <label class="form-check-label" for="inlineRadio12">5형</label>
            </div>
            <div class="form-check form-check-inline">
              {% if user.userDysl == 'X' %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio13" value="X" checked="checked">
              {% else %}
              <input class="form-check-input" type="radio" name="dysl" id="inlineRadio13" value="X">
              {% endif %}
              <label class="form-check-label" for="inlineRadio13">없음/모름</label>
            </div>
           
          </div>
          
          

          <hr class="mb-4">
          <div class="mb-4"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="location.href='user:login'">변경 완료</button>
          
        </form>
      </div>
    </div>
    <footer class="my-3 text-center text-small">
      <p class="mb-1">&copy; 2021 Body Perfection Management(BPM)</p>
    </footer>
  </div>
  <script>
    window.addEventListener('load', () => {
      const forms = document.getElementsByClassName('validation-form');

      Array.prototype.filter.call(forms, (form) => {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  </script>
</body>

</html>