<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">    


    <!-- Bootstrap core CSS -->
<link href="/static/user/css/bootstrap.min.css" rel="stylesheet">

    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: 'Do Hyeon', sans-serif;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      

      

    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/user/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form action="" method="POST">{% csrf_token %}
        <img class="mb-4" src="{% static 'user/image/logo.png' %}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">나만의 건강 음식 탐정</h1>

        <div class="form-group">
          <!-- <label for="floatingInput">아이디</label> -->
          <!-- <input type="text" class="form-control" id="floatingInput" name='user_name' placeholder="Id" required>  -->
          <input type="text" autocomplete="off" class="form-control" id="floatingInput" name='user_name' placeholder="아이디"> 
          <div class="invalid-feedback">
            아이디를 입력해주세요.
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="floatingPassword">비밀번호</label> -->
          <!-- <input type="password" class="form-control" id="floatingPassword" name='user_password' placeholder="Password" required> -->
          <input type="password" class="form-control" id="floatingPassword" name='user_password' placeholder="비밀번호">
          <div class="invalid-feedback">
            비밀번호를 입력해주세요.
          </div>
        </div>


        <div class="checkbox mb-3">
          <label>
            <div style="color: red;">
              {{error}}
            </div>
            <input type="checkbox" value="remember-me"> 아이디 기억하기
          </label>
        </div>
        <!-- <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="location.href='main'">로그인</button> -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
        <button class="w-100 btn btn-lg btn-light" type="button" onclick="location.href='join'" style="background: #f5f5f5; border: 0px;">회원 가입</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021 BPM</p>
      </form>
    </main>
  </body>
</html>
